{ lib, ... }:

{
  options = {

        bootLoaderTimeout = lib.mkOption {
            type = lib.types.int;
            default = 5;
        };

        fullUser = lib.mkOption {
            type = lib.types.str;
            default = "User";
        };

        gps-device = lib.mkOption {
            type = lib.types.str;
            default = "/dev/ttyS2";
        };

       gps-device-args =  lib.mkOption {
            type = lib.types.listOf(lib.types.str);
            default = [ "-p" "-s" "4800" ];
        };

        hostname = lib.mkOption {
            type = lib.types.str;
            default = "myhostname";
        };

        lat = lib.mkOption {
            type = lib.types.float;
            default = 51.5;
        };

        long = lib.mkOption {
            type = lib.types.float;
            default = -0.1;
        };

        stateVersion = lib.mkOption {
            type = lib.types.str;
            default = "25.05";
        };

        swapSize = lib.mkOption {
            type = lib.types.int;
            default = 8192;
        };

        timezone = lib.mkOption {
            type = lib.types.str;
            default = "UTC";
        };

        user = lib.mkOption {
            type = lib.types.str;
            default = "user";
        };

  };
}

