{ lib, ... }:

{
  options = {

        fullUser = lib.mkOption {
            type = lib.types.str;
            default = "User";
        };

        hostname = lib.mkOption {
            type = lib.types.str;
            default = "myhostname";
        };

        lat = lib.mkOption {
            type = lib.types.float;
            default = 51.5;
        };

        long = lib.mkOption {
            type = lib.types.float;
            default = -0.1;
        };

        luks-uuid = lib.mkOption {
            type = lib.types.str;
            default = "12345678-0000-0000-0000-abcd00000002";
        };

        stateVersion = lib.mkOption {
            type = lib.types.str;
            default = "24.05";
        };

        timezone = lib.mkOption {
            type = lib.types.str;
            default = "UTC";
        };

        user = lib.mkOption {
            type = lib.types.str;
            default = "user";
        };

  };
}

