{ lib, ... }:

{
  options = {
        boot-uuid = lib.mkOption {
            type = lib.types.str;
            default = "0000-1234";
        };
    
        fullUser = lib.mkOption {
            type = lib.types.str;
            default = "User";
        };

        fs-uuid = lib.mkOption {
            type = lib.types.str;
            default = "12345678-0000-0000-0000-abcd00000000";
        };

        hostname = lib.mkOption {
            type = lib.types.str;
            default = "myhostname";
        };

        init-uuid = lib.mkOption {
            type = lib.types.str;
            default = "12345678-0000-0000-0000-abcd00000001";
        };

        luks-uuid = lib.mkOption {
            type = lib.types.str;
            default = "12345678-0000-0000-0000-abcd00000002";
        };

        swap-uuid = lib.mkOption {
            type = lib.types.str;
            default = "12345678-0000-0000-0000-abcd00000003";
        };

        timezone = lib.mkOption {
            type = lib.types.str;
            default = "UTC";
        };

        user = lib.mkOption {
            type = lib.types.str;
            default = "user";
        };

  };
}

